* {
    font-family: 'Raleway';
    font-size: small;
    margin: 0px;
}
main {
    margin: 0% 10% 0% 10%;
}
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: medium;
}
.title {
    font-weight: bold;
    font-size: medium;
    background-color: rgb(223, 223, 223);
    padding: .6%;
}
nav ul {
    list-style: none;
    background-color: grey;
    display: flex;
    padding: 8px;
}
nav ul li {
    font-size: small;
    text-decoration: none;
    padding-inline: 3%;
}
a {
    color: white;
    opacity: 1;
    text-decoration:none;
}
a:hover {
    opacity: 0.6;
}
.title-main{
    text-transform: uppercase;
    font-size: medium;
    font-weight: normal;
    align-items: center;
    display: flex;
    margin: 10px;
}
.circle {
    display:inline-block;
    width: 5px;
    height:5px;
    border-radius: 50%;
    border: 4px solid green;
    margin-right: 8px;
}
img {
    border-radius: 20px 70px 20px 70px;
    border: dotted black 1px;
    padding: 5px;
    float: right;
}
section ul li {
    list-style-type: circle;
}
section ul li span {
    size: 30%;
    color: green;
    font-style: italic;
}
.info {
    display: flex;
    justify-content:space-between;
    flex-direction:row-reverse;
    align-items:center;
}
.container {
    border: 1.5px dotted;
    border-left: 5px green solid;
    padding: 15px;
    margin: 10px;
}
.section {
    border: 1.5px dotted;
    border-left: 5px green solid;
    border-bottom: dotted green 2px;
    padding: 15px;
    margin: 10px;
}
.experience {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
.experience-date {
    font-weight: bold;
    width: 10%;
    display: inline-block;
    padding: 2px 0px 2px 0px;
}
.experience-position {
    width: 90%;
    display: inline-block;
    text-align: left;
    padding: 2px 0px 2px 0px;
    color:green;
}
.experience-company {
    font-size: smaller;
    text-transform: uppercase;
    display: inline-block;
    width: 25%;
}
.experience-city {
    display: inline-block;
    font-style: italic;
}
.education{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
.education-date {
    font-weight: bold;
    width: 10%;
    display: inline-block;
    padding: 2px 0px 2px 0px;
}
.education-label {
    width: 70%;
    display: inline-block;
    text-align: left;
    padding: 2px 0px 2px 0px;
    color:green;
}
.education-school {
    font-size: smaller;
    text-transform: uppercase;
    display: inline-block;
    width: 25%;
}
.education-city{
    display: inline-block;
    font-style: italic;
}
.competence span {
    display: inline-block;
    width: 15%;
    text-align: right;
}
.competence-level{
    display: inline-block;
}
progress{
    appearance: none;
    color: green;
}